USE [Task1]
GO
/****** Object:  Table [dbo].[countries]    Script Date: 1/26/2026 4:29:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[countries](
	[COUNTRY_ID] [int] NULL,
	[COUNTRY_NAME] [varchar](40) NULL,
	[REGION_ID] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[departments]    Script Date: 1/26/2026 4:29:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[departments](
	[DEPARTMENT_ID] [int] NULL,
	[DEPARTMENT_NAME] [varchar](30) NULL,
	[MANAGER_ID] [int] NULL,
	[LOCATION_ID] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[employees]    Script Date: 1/26/2026 4:29:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[employees](
	[EMPLOYEE_ID] [int] NULL,
	[FIRST_NAME] [varchar](20) NULL,
	[LAST_NAME] [varchar](25) NULL,
	[EMAIL] [varchar](25) NULL,
	[PHONE_NUMBER] [varchar](20) NULL,
	[HIRE_DATE] [date] NULL,
	[JOB_ID] [varchar](10) NULL,
	[SALARY] [int] NULL,
	[COMMISSION_PCT] [int] NULL,
	[MANAGER_ID] [int] NULL,
	[DEPARTMENT_ID] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[job_grades]    Script Date: 1/26/2026 4:29:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[job_grades](
	[GRADE_LEVEL] [varchar](2) NULL,
	[LOWEST_SAL] [int] NULL,
	[HIGHEST_SAL] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[job_history]    Script Date: 1/26/2026 4:29:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[job_history](
	[EMPLOYEE_ID] [int] NULL,
	[START_DATE] [date] NULL,
	[END_DATE] [date] NULL,
	[JOB_ID] [varchar](10) NULL,
	[DEPARTMENT_ID] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[jobs]    Script Date: 1/26/2026 4:29:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[jobs](
	[JOB_ID] [varchar](10) NULL,
	[JOB_TITLE] [varchar](35) NULL,
	[MIN_SALARY] [int] NULL,
	[MAX_SALARY] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[locations]    Script Date: 1/26/2026 4:29:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[locations](
	[LOCATION_ID] [int] NULL,
	[STREET_ADDRESS] [varchar](25) NULL,
	[POSTAL_CODE] [varchar](12) NULL,
	[CITY] [varchar](30) NULL,
	[STATE_PROVINCE] [varchar](12) NULL,
	[COUNTRY_ID] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[regions]    Script Date: 1/26/2026 4:29:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[regions](
	[REGION_ID] [int] NULL,
	[REGION_NAME] [varchar](25) NULL
) ON [PRIMARY]
GO
